<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        file upload with multer
    </title>
    <style>
        body{
            background-color: black;
            color: #fbf9f9;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>file upload</h1>
</body>
</html>